* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --padding: 0;
    --color: darkblue;
    --width: 150px;
    --text-align: center;
    --height: auto;
}

p {
    padding: var(--padding);
}

nav {
    background-color: var(--color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--color);
}

img {
    width: var(--width);
    height: var(--height);
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside {
    width: 20rem;
    text-align: var(--text-align);
    position: relative;
}

aside img{
    width: 200px;
    height: var(--height);
}

aside h2 {
    position: absolute;
    top: 40px;
    left: 5px;
}

main{
    max-width: 840px;
}

main img {
    width: var(--width);
    height: var(--height);
    border: 0px;
    padding: var(--padding);
    box-shadow: #090808;
    float: right;
    margin: 0 0 1rem 1rem;
}


footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--text-align);
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}