* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --padding: 0;
    --color: darkblue;
    --width: 150px;
    --text-align: center;
    --height: auto;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

p {
    padding: var(--padding);
}

nav {
    background-color: var(--color);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    padding: 0.5rem;
}

h1 {
    color: var(--color);
    border-bottom: #000;
}

img {
    width: var(--width);
    height: var(--height);
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

.grid {
    display: grid;
    align-items: center;
}

aside {
    width: 20rem;
    text-align: var(--text-align);
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside img{
    width: 200px;
    height: var(--height);
}

aside h2 {
    position: absolute;
    top: 30;
    left: 120px;
}

main img {
    width: var(--width);
    height: var(--height);
    border: 0px;
    padding: var(--padding);
    box-shadow: #090808;
    float: right;
    margin: 0 0 1rem 1rem;
}


footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--text-align);
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}