*{
    margin: 0;
    padding: 0;
}


body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header, footer{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
}

main{
    width: 400px;
    margin: 0 auto;
}

h1{
    margin: 10px;
    text-align: center;
}

h2{
    border-bottom: 1px solid #222;
}

img{
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px rgb(40, 39, 39);
}

section{
    margin: 20px 0;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 10px;
    font-size: .9rem;
    background-color: rgb(177, 172, 172);
}

ul{
    margin: 10px 20px;

}

footer{
    font-size: .9rem;
}

section p{
    margin: 10px;

}
